body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d2c510;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.input-container {
    display: flex;
    margin-bottom: 20px;
}

input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    padding: 10px 15px;
    background-color: #4caf50;
    color: #fff;
    border: bold;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

li:last-child {
    border-bottom: none;
}

#editModal {
    margin-left: 40%;
    background-color: lightgreen;
    max-width: 300px;
    border-radius: 5%;
}

li.completed {
    background-color: #d3ffd3;
}

li.completed textarea {
    text-decoration: line-through;
}

li.completed button {
    background-color: #ccc !important;
    cursor: not-allowed;
    visibility: hidden;
}

li[data-edited="true"]:hover::after {
    content: attr(data-details);
    display: block;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}